{% extends 'base.html' %}
{% block content %}
<br>
{% for following in profile.followed_by.all%}
<a href="{% url 'profile' following.user.id %}">@{{following}}
{% endfor %}</a>
<hr>
<form method=POST>
    {% csrf_token %}
    {% if profile in user.profile.follows.all %}
    <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit"> unfollow @{{ profile.user.username|lower}}</button>
    {% else %}
    <button class="btn btn-outline-success" name="follow" value="follow" type="submit"> follow @{{ profile.user.username|lower}}</button>
    {% endif %}
    </form>

    {% endblock %}