{% extends "back/base.html" %}
{% load static %}

{% block content %}

<form method="POST" id="post-form">
  {% csrf_token %}
  <div class="form-group">
  <label for="exampleInputEmail1">Title</label>
  <input type="text" class="form-control" id="title" placeholder="Title">
  <input type="hidden" class="form-control" id="author" placeholder="author" value="{{user.id}}">
  <label for="exampleInputEmail1">category</label>
  <select class="form-select" aria-label="Default select example" id="category">
    <option selected>--</option>
    {% for catu in cat%}
    <option value="{{catu.id}}">{{catu.category_text}}</option>
  {% endfor %}
  </select>
  </div>
  <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <textarea class="form-control" id="body" placeholder="Description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% endblock%}

