{% extends "back/base.html" %}
{% load static %}

{% block content %}

<form class="d-flex" action="/" hx-get="/" hx-target="#content-div" hx-push-url="true"  >
    <input class="form-control mr-0" type="search" value="{{request.GET.q}}"  name="q" placeholder="Search" aria-label="Search">
  </form>

  
{% if tag %}
<h2 class="mb-3">Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

<style>
    .kanan{
        position: absolute;
        right: 0px;
        width: 300px;
     
        
    }
</style>

<div class="table-responsive">
    <div class="kanan">
        <a class="btn btn-outline-success btn-sm" href="{{ post.get_absolute_url }}add">add new</a>
    </div>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">author</th>
        <th scope="col">category</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
      <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }} <span class="badge bg-info text-dark"> {{ post.status }}</span></td>
        <td>{{ post.author }}</td>
        <td>{{ post.category.category_text }}</td>
        <td><a href="{{ post.get_absolute_url }}"   class="btn btn-outline-primary btn-sm">Read</a>|<a href="{{ post.get_absolute_url }}"   class="btn btn-outline-warning btn-sm">edit</a>|<a href="{{ post.get_absolute_url }}"   class="btn btn-outline-secondary btn-sm">drop</a>|<a href="{{ post.get_absolute_url }}"   class="btn btn-outline-danger btn-sm">delete</a></td>
      </tr>
     
        {% endfor %}
    </tbody>
  </table>
  {% endblock content %}